/* Universel Styles */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black !important;
}
/* Shared Styles */
.poppins{
    
}


/* Nav styles */
.nav{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
}
.logo span{
    color: red;
}
#nav ul{
    display: flex;
}
#nav ul li{
    list-style: none;
    margin-left: 20px;
}
#nav ul li a{
    text-decoration: none;
    color: white;
}