/* Universel Styles */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black !important;
}
/* Shared Styles */
.poppins{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav styles */
.nav{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.5em;
    font-weight: 600;
    cursor: pointer;
    color:blueviolet;
}
.logo span{
    color:blueviolet;
}
#nav ul{
    display: flex;
    align-items: center;
}
#nav ul li{
    list-style: none;
    margin-left: 20px;
}
#nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#nav ul li a:hover{
    color: blueviolet;
}