/* Universel Styles */
*{
    margin: 0;
    padding: 0;
}
/* Shared Styles */
.poppins{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav styles */
header{
    /* box-shadow: 0px 10px 20px rgba(241, 241, 241, 0.568); */
    /* border-bottom: 1px solid rgba(137, 43, 226, 0.281); */
    background-color: rgb(226, 226, 226);
}
.nav{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 20px 0px;
}
.logo-container a{
    text-decoration: none;
}
.logo{
    font-size: 2.5em;
    font-weight: 600;
    cursor: pointer;
    color:blueviolet;
}
.logo span{
    color:blueviolet;
}
#nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
#nav ul li{
    list-style: none;
}
#nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
#nav ul li a:hover{
    color: blueviolet;
}

/* ============= Nav Menu Position ================= */

.left_menu{
    flex-direction: row-reverse;
}
.right_menu{
    flex-direction: row;
}
.center_menu{
    flex-direction: column;
    gap: 20px;
}


/* Content area */
.content-area{
    margin: 80px 0px;
}


/* ====== Footer Styles ====== */
.copyright-text-area{
    width: 100%;
    padding: 30px 0px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.copyright-text-area a{
    text-decoration: none;
    color: black;
}
.copyright-text{
  color: black;
}
