/* Universel Styles */
*{
    margin: 0;
    padding: 0;
}
/* Shared Styles */

.poppins{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Nav styles */
header{
    /* box-shadow: 0px 10px 20px rgba(241, 241, 241, 0.568); */
    /* border-bottom: 1px solid rgba(137, 43, 226, 0.281); */
    background-color: rgb(226, 226, 226);
}
.nav{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 20px 0px;
}
.logo-container a{
    text-decoration: none;
}
.logo{
    font-size: 2.5em;
    font-weight: 600;
    cursor: pointer;
    color:blueviolet;
}
.logo span{
    color:blueviolet;
}
/* == Nav css == */
#nav > #main-menu {
    display: flex;
    align-items: center;
}
#nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
#main-menu li {
    list-style: none;
    position: relative;
}

#main-menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#main-menu li a:hover {
    color: blueviolet;
}

#main-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    min-width: 180px;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    z-index: 999;
}

#main-menu li:hover > ul {
    display: block;
}

#main-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-transform: none;
}

#main-menu ul li a:hover {
    background: #f2f2f2;
    color: blueviolet;
}

#main-menu ul ul {
    top: 0;
    left: 100%;
    padding: 10px 0;
    display: none;
    white-space: nowrap;
}

#main-menu ul li:hover > ul {
    display: block;
}


/* ============= Nav Menu Position ================= */

.left_menu{
    flex-direction: row-reverse;
}
.right_menu{
    flex-direction: row;
}
.center_menu{
    flex-direction: column;
    gap: 20px;
}


/* Content area */
.content-area{
    margin: 80px 0px;
}


/* ====== Footer Styles ====== */
.copyright-text-area{
    width: 100%;
    padding: 30px 0px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.copyright-text-area a{
    text-decoration: none;
    color: black;
}
.copyright-text{
  color: black;
}



/* ============================= */
/* Blogs Styles */
.blog-area{
    margin: 50px 0;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.single-blog{
    padding: 30px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(202, 202, 202, 0.5);
}
.post_thumb{
    width: 100%;
    margin: 0px auto 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
.post_thumb img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.post_thumb img:hover{
    transform: scale(1.05);
    transition: 1s;
}
.post_titles a{
    text-decoration: none;
}
.post_title{
    text-transform: capitalize;
    color: #000;
}
.read-more-btn-area{
    margin-top: 30px;
}
.read-more-btn-area a{
    text-decoration: none;
}
.read-more-btn{
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    background-color: blueviolet;
    border-radius: 5px;
}   
.read-more-btn:hover{
    color: blueviolet;
    border: 1px solid blueviolet;
    background-color: transparent;
}
/* Pagianton */

.pagination-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0px;
}   

.pagination .page-item.active .page-link {
    background-color: blueviolet;
    border-color: blueviolet;
    color: #fff; 
}

.pagination .page-item .page-link:hover {
    color: blueviolet;
}

/* Normal hover */
.pagination .page-item .page-link {
    color: blueviolet;
}
